*{
    font-family: "Arial", Arial, sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    border: 0;
}
{
    margin:0;
    padding: 0;
}

#page-container {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}